.nav {
    position: relative;
    width: 6rem;
    height: 100vh;
    float: left;

    @media (min-width: 768px) {
        width: 15rem;
    }   


    &__container {
        position: fixed;
        height: 100vh;
        width: 6rem;
        background: $color-black;
        @media (min-width: 768px) {
            width: 15rem;
        } 
    }

    &__items {
        @include center;
        width: 100%;
        list-style: none;
    }

    &__item {
        display: block;
        width: 100%;
        text-align: center;
        color: $color-grey-0;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 0;
        transition: all .2s;
        border-left: 3px solid transparent;

        @media(min-width: 768px) {
            text-align: left;
            font-size: 1.8rem;
        }

        &:hover {
            background: $color-black-0;
            border-left: 3px solid $color-grey-0;
        }

        &--active {
            background: $color-black-0;
            border-left: 3px solid $color-grey-0;
        }

        svg {
            fill: #39ae44;
            height: 2.2rem;
            margin: 0 .8rem;
            display: inline;
            width: 2.2rem;
            @media(max-width: 768px) {
                margin: 0;
                height: 3rem;
                width: 3rem;
            }
        }

        span {
            display: none;
            @media(min-width: 768px) {
                display: inline;
            }
        }

    }

}