.heading-primary {
    
    font-size: 3rem;
    font-weight: 700;
    color: $color-green;
    margin: 0 auto 2.6rem auto;
    @include underline;

    @media (min-width: 768px) {
        margin-bottom: 4.4rem;
        font-size: 4.4rem;
    }

    &--main {
        color: $color-grey-1;
    }

    &--sub {
        font-size: 1.5rem;
    }

}

.descriptor {

    display: block;
    width: 50%;
    min-width: 26rem;
    margin: 0 auto;

    @media (min-width: 768px) {
        font-size: 2rem;
    }

    & + a {
        margin-top: 2rem;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}