.heading-primary {
    
    font-size: 3rem;
    font-weight: 700;
    color: $color-green;
    margin-bottom: 2.6rem;
    @include underline;

    @media (min-width: 768px) {
        margin-bottom: 4.4rem;
        font-size: 4.4rem;
    }

    &--main {
        color: $color-grey-1;
    }

    &--sub {
        font-size: 1.5rem;
    }

}

.heading-secondary {
    font-size: 2.6rem;
    font-weight: 400;
    color: $color-grey-0;
    text-align: left;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
}

.descriptor {

    display: block;
    width: 50%;
    min-width: 26rem;
    margin: auto;
    @media (min-width: 768px) {
        font-size: 2rem;
    }
}